.create-post-modal{
  border: 1px solid #333;
}
.create-post-modal-hidden{
  display: none;
  border: 1px solid #333;
}
.navbar{
  display: flex;
  width: 100%;
  background-color: bisque;
  padding: 1% 5%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ccc;
}
.home-link{
  font-size: 2em;
  font-weight: bold;
  color: #d33;
  text-decoration: none;
  
}
.timeline{
  margin-top: 3%;
  background-color: #eee;
}

.post{
  max-width: 23%;
  background-color: #fff;
  height: min-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-img{
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.post-content{
  font-size: 1.3em;
  line-height: 1.7em;
  padding: 2.5%;
}

.post-feed{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}